:root{
    --primary-text-color:#757575;
    --secondary-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#ffffff;
    --primary-font-text:Roboto,sans-serif;
    --secondary-font-text:Raleway,sans-serif;
}

body{
    color:var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: var(--primary-font-text);
    font-weight: 400;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.7;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
/*Logo*/
.logo{
    color: var(--secondary-text-color);
    font-family: var(--secondary-font-text);
    font-size: 26px;
    font-weight: bold;
    line-height:1.2;
    text-decoration: none;

}
.logo:hover{
    color: var(--accent-color);
}
.logo-blue{
    color: var(--accent-color);
}
/* SiteNav*/
.site-nav .link:hover,
.site-nav .link:focus {
color: var(--accent-color);
}
.list{
    list-style: none;
}
.site-nav .link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-text-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}
/*contactnav*/
.contact-nav .link-register:hover,
.contact-nav .link-register:focus{
    color:var(--accent-color);
}
.contact-nav .link-register{
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

/*herosection*/
.hero-title{
    color: var(--primary-white-color);
    background: var(--secondary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero .button-hero{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    /* identical to box height, or 187% */

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.help-section .title{
    color: var(--secondary-text-color);
    line-height: 1.14;
    text-transform: uppercase;

}
/*worksection*/
.work-title{
    color:var(--secondary-text-color);
    font-family: Roboto,sans-serif;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}
.work {
    color: var(--primary-white-color);
}
.work-text{
    background-color: var(--secondary-text-color);
    font-family: Roboto,sans-serif;
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
}
/*aboutteam*/
.team-title{
color: var(--secondary-text-color);
    font-family: Roboto,sans-serif;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}
.team .namepeople{
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    /* identical to box height */

    text-align: center;
}
.product-text{
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.2;
    /* identical to box height */

    text-align: center;
}
.team .link-social:hover,
.team .link-social:focus{
    background-color: var(--accent-color);
}
/*regularcustomers*/
.regular-customers .title{
    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}
.regular-customers .link-company:hover,
.regular-customers .link-company:focus{
    color: var(--accent-color);
}
.information .place{
color: var(--primary-white-color);
    line-height: 1.7;
    /* or 171% */

    letter-spacing: 0.03em;
}
.join,
.subscribe{
    color: var(--primary-white-color);
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
    background-color: var(--secondary-text-color);
}
/*button*/
.button{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 2;
    /* identical to box height, or 187% */

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

}
/*apps-nav*/

.apps .button{
    background: var(--primary-text-color);
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    /* identical to box height, or 162% */

    text-align: center;
    cursor: pointer;

}

.apps-link .text{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
    /* identical to box height, or 187% */

    letter-spacing: 0.03em;
}
.link-our{
    text-decoration: none;
}
.text-title{
    color: var(--primary-white-color);
    font-size: 18px;
    line-height: 1.5;
    /* or 156% */

    letter-spacing: 0.03em;
}
.apps .button:hover,
.apps .button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.apps-link .title{
    color: var(--secondary-text-color);
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */

    letter-spacing: 0.06em;
}
.contact-footer{
    line-height: 1.7;
    font-style: normal;
}



