:root{
    --primary-text-color:#757575;
    --secondary-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#ffffff;
    --primary-font-text:Roboto,sans-serif;
    --secondary-font-text:Raleway,sans-serif;
}

body{
    color:var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: var(--primary-font-text);
    font-weight: 400;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.7;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    margin:0;

}
.list{
    list-style: none;
}
.container{
    width:1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right:auto;
    outline:2px solid tomato;
}
ul{
    padding: 0;
    margin:0;
}
p {
    margin: 0;
}
/*Logo*/
.logo {
    margin-right: 86px;
    color: var(--secondary-text-color);
    font-family: var(--secondary-font-text);
    font-size: 26px;
    font-weight: bold;
    line-height:1.2;
    text-decoration: none;

}
.logo:hover{
    color: var(--accent-color);
}
.logo-blue{
    color: var(--accent-color);
}
/* SiteNav*/
.main-nav{
    display: flex;
    align-items: center;
}
.site-nav   .contact-items + .contact-items{
    padding-left: 50px;
}
.contact-items .link{
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
}

.site-nav{
    display: flex;
}
.site-nav .link:hover,
.site-nav .link:focus {
color: var(--accent-color);
}

.site-nav .link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-text-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}
/*contactnav*/
.contact-nav{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.contact-nav .contact-items + .contact-items{
    padding-left: 50px;
}
.contact-nav .link-register:hover,
.contact-nav .link-register:focus{
    color:var(--accent-color);
}
.contact-nav .link-register{
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.contact-items .link-register{
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
}

/*herosection*/
    .hero{
        text-align: center;
    }
.hero-title{
    color: var(--primary-white-color);
    background: var(--secondary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero .button-hero{
    border-radius: 4px;
    padding:10px 32px;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    /* identical to box height, or 187% */
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    margin-top: 30px;

}
/*help section*/
.help-list {
    display: flex;
    margin-top: 294px;
}
.help-section-item{
    text-align: center;
}

.container .help-list .help-section-item + .help-section-item{
    margin-left: 30px;
}
.help-section .title{
    color: var(--secondary-text-color);
    line-height: 1.14;
    text-transform: uppercase;
}

.help-section-item .title{
    margin-bottom: 10px;
    margin-top:30px;
    text-align:left;
}
.help-section-item .help-text{
    text-align:left;
}
/*worksection*/
.work-list{
    display: flex;
}
.work-title{
    color:var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
}
.work {
    color: var(--primary-white-color);
    margin-top: 94px;
}
.work-text{
    background-color: var(--secondary-text-color);
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
}
.work-list .work-content + .work-content{
    margin-left:30px ;
}

/*aboutteam*/
.team .list{
    display: flex;
    justify-content: center;
}
.team-list .namepeople{
    margin-top: 30px;
    margin-bottom: 10px;
}
.list .team-list:not(:first-child){
    margin-left: 30px;
}
.team-title{
color: var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.2;
    text-align: center;

    margin-top: 188px;
    margin-bottom: 50px;
}
.team .namepeople{
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;

    text-align: center;
}

.product-text{
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.2;

    text-align: center;
    margin-bottom: 16px;
}
.list .team-link + .team-link{
    margin-left: 10px;
}

.team .link-social:hover,
.team .link-social:focus{
    background-color: var(--accent-color);
}
/*regularcustomers*/
.regular-customers .title{
    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}
.regular-customers .link-company:hover,
.regular-customers .link-company:focus{
    color: var(--accent-color);
}
.regular-customers .list{
    display: flex;
    justify-content: space-between;
}
.information .place{
color: var(--primary-white-color);
}
.join,
.subscribe{
    color: var(--primary-white-color);
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
    background-color: var(--secondary-text-color);
}
/*button*/
.button{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 2;
    /* identical to box height, or 187% */

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

}
/*apps-nav*/

.apps .button {
    background: var(--primary-text-color);
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    /* identical to box height, or 162% */
    cursor: pointer;
}

.apps-link .text{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
    /* identical to box height, or 187% */

}
.link-our{
    text-decoration: none;
}
.text-title{
    color: var(--primary-white-color);
    font-size: 18px;
    line-height: 1.5;
    /* or 156% */
}
.apps-link{
    display: flex;
    flex-wrap: wrap;
}
.flex-items{
    width:calc((100% - 60px) / 3);
    margin-bottom: 30px;
}
.flex-items:not(:nth-child(3n)){
    margin-right: 30px;
}
.apps .button:hover,
.apps .button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.apps-link .title{
    color: var(--secondary-text-color);
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */

    letter-spacing: 0.06em;
}
.contact-footer{
    font-style: normal;
}
.text-title{
    display: none;
}




